main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin: 48px 0;
}

details {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

summary {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    outline: none;
    list-style: none;
    display: block;
}

details[open] summary {
    color: #007BFF;
}

details > p {
    margin: 10px 0 0;
    padding: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
